.dream-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-description {
  display: flex;
  justify-content: center;
}

.details-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  width: 50vw;
  height: 300px;
}

/* .details-row:-webkit-scrollbar {
  width: 5px !important;

} */
/* 
.DDTitle-Date-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
} */

.DD-Title,
.DD-Date,
.DD-ABoutDream {
  color: #1c4160;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.DD-ABoutDream {
  height: 90%;
}


.details-item {
  overflow-y: auto;
}

.details-item::-webkit-scrollbar {
  width: 8px;
  background-color: #7aa4c5;
}

details-item::-webkit-scrollbar-thumb {
  background-color: #366b96;
}

.DDButton-container {
  margin-top: 10vh;
}

.button-list {
  padding: 10px;
  font-family: 'Klee One';
  font-size: 16px;
  background: #366b96;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* .dreamDDTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.dreamDDDate {
  font-size: 1rem;
  color: #555;
}

.dreamDDDescription {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
} */