@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

*,
*::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  background: linear-gradient(242deg, rgba(127, 172, 214, 0.82) 7.99%, #D6FDFF 56.22%, rgba(214, 253, 255, 0.77) 69.44%, rgba(230, 249, 255, 0.56) 102.68%, rgba(162, 242, 2, 0.00) 102.69%);
  background-repeat: no-repeat;
  font-family: 'Klee One', sans-serif;
  height: 100%;
}

@media only screen and (max-width: 600px) {

  /* ------------Login Page-----------*/

  .login-container {
    /* border-radius: 10px;
    height: 100vh;
    display: flex; */
    flex-direction: column;
  }

  .form-login {
    width: 70% !important;
  }

  /* --------Landing Page----------*/

  .landingPage-container {
    flex-direction: column;
    align-items: center;
  }

  .lp-logo-container {
    display: flex !important;
    justify-content: center;
  }

  /* .welcomeImgBoy-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  } */

  .welcome-image-boy {
    width: 300px !important;
    height: 50% !important;
  }

  .landingPage-button-container {
    display: flex;
    justify-content: center;
  }

  .welcome-board {
    width: 80% !important;
    height: 180px !important;
  }

  .first-paragraph {
    font-size: 3.5rem !important;
  }

  .question-image {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90% !important;
    padding: 20px !important;
  }

  /* -------------Create Dream------------*/

  .createDream-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;
  }

  .title-date-container {
    display: flex !important;
    justify-content: space-between !important;
    width: 90vw !important;
    margin-top: 15px !important;
    height: 130px !important;
  }

  .myTextarea-container {
    min-width: none;
  }

  .myTextarea {
    min-width: 90vw !important;
  }

  .imgButton {
    width: 60px !important;
  }

  .cloud1,
  .cloud2,
  .cloud3 {
    width: 70px !important;
    height: 70px !important;
    position: absolute;
    z-index: 2;
    opacity: 0.5 !important;
  }

  .cloud1 {
    top: 4vh;
    left: -4%;
  }

  .cloud2 {
    top: 0;
    right: 6%;
    transform: rotateY(180deg);
    padding: 0;
  }

  .cloud3 {
    bottom: 0;
    right: 5% !important;
    top: 70% !important;
  }

  .cloud4 {
    bottom: 3%;
    right: 5% !important;
    top: 70% !important;
  }

  /*--------Caught Dream--------*/

  .caughtDreamImg {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .caughtDream-text {
    font-size: 1.6rem !important;
    position: absolute;
    top: 50.4% !important;
    left: 20% !important;
  }

  /*--------List of Dreams--------*/

   .list-container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .listLeft-container {
    height: 50px !important;
  }

  .listLogo-container {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  
  .white-background {
    height: 60vh !important;
    width: 80vw !important;
    margin-left: 0 !important;
  }

  .search-input {
    width: 80% !important;
  }

  .listButton-container {
    flex-direction: row !important;
    margin-right: 0 !important;
  }

  .listBack-to-home {
    margin-left: 10px;
  }

  .ul-list-container {
    width: 300px;
  }

  .list-div {
    width: 280px !important;
  }

  .dandelion2 {
   display: none;
  }

  .listVertical-design {
    display: none;
  }

  /*
  .dream-date {
    font-size: 0.6em !important;
  }

  .dream-title {
    font-size: 1.2rem !important;
  }

  .dream-description {
    font-size: 0.8rem !important;
  }

  .listDCImg {
    display: none;
  }*/

  /* .ul-list {
    width: 400px !mportant;
    height: 100%;
  }  */

  /*
  .listButton-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }

  .listCatch-a-dream {
    margin-right: 5px;
  } */

  /*-----------Dream Details--------*/

  .details-item {
    height: 80%;
  }

  .DD-ABoutDream {
    height: 80% !important;
  }

  .listDreamyPic {
    display: none;
  }
}