.createDream-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* padding: 50px;*/
  max-width: 100%; 
  /* margin: auto; */
}

.title-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 50%;
  /* height: 60%; */
  background: transparent;
  border-radius: 20px;
  border: 3px solid #366b96;
  box-shadow: 18px 18px 31.1px -21px rgba(0, 0, 0, 0.25);
}


.title-date {
  width: 80%;
  height: 30px;
  border: none;
  font-size: 14px;
  outline: none;
  background: transparent;
}

#title,
#date
 {
  color: #366b96;
  border-bottom: 1px solid rgba(54, 107, 150, 0.3);
}

#title::placeholder {
  color: #366b96;
  /* caret-color: ; */
}

/* #date {
  color: #366b96;
} */

.myTextarea-container {
  display: flex !important;
  justify-content: center;
  /* flex-direction: row !important; */
  /* justify-content: center !important; */
  width: 63% !important;
  margin-top: 10px;
}

.myTextarea {
  width: 80%;
  /* min-height: 400px; */
  max-height: 400px;
  height: 400px;
  border: none;
  caret-color: #ed8a8a;
  color: #bb0d0d;
  font-size: 14px;
  outline: none;
  padding: 25px;
  background: transparent;
  border-radius: 18px;
  border: 3px solid rgba(199, 103, 103, 0.6);
  box-shadow: 18px 18px 31.1px -21px rgba(0, 0, 0, 0.25);
}

.myTextarea::placeholder {
  color: #ed8a8a;
}

.CDButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgButton {
  background-color: #366b96;
  margin-top: 10px;
  /* max-width: 100%; */
  width: 100px;
  height: 25px;
  border: 1px solid #366b96;
  filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  cursor: pointer;
}

.imgButton:hover {
  background-color: #599bd0;
  border: none;
}

.imgButton:active {
  filter: none;
}

.plusImg {
  margin: auto;
  width: 22px;
  height: 20px;
}

.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  width: 200px;
  height: 220px;
  position: absolute;
  z-index: 1;
}

.cloud1 {
  top: 4vh;
  left: -2%;
  opacity: 0.6;
}

.cloud2 {
  top: 0;
  right: 6%;
  transform: rotateY(180deg);
  padding: 0;
  opacity: 0.6;
}

.cloud3 {
  bottom: 0;
  right: 24%;
  opacity: 0.6;
  top: 60%;
}

.cloud4 {
  bottom: 0;
  right: 80% !important;
  top: 70% !important;
  opacity: 0.6;
}