.list-container {
  display: flex;  
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.listLeft-container {
  flex: 2;
  display: flex;
  justify-content: right !important;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.listLogo-container {
  display: flex;
}

.listDCLogo {
  width: 140px;
  height: 90px;
}

.white-background {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 70vh;
  background: #fff;
  border: 5px solid rgb(244, 145, 145);
  border-radius: 10px;
  padding: 3vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.listString-container {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: auto;
}

.listString {
  width: 130px;
  height: 40px;
}

.listInput-container {
  display: flex;
  justify-content: center;
  height: auto
}

.search-input {
  margin-left: 2vw;
  margin-right: 2vw;
  background: #fff;
  width: 30vw;
  height: 40px;
  border: 1px solid rgba(155, 155, 155, 0.50);
  border-radius: 10px;
  box-shadow: 2px 2px 0px rgba(147, 146, 146, 0.25);
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  caret-color: rgb(77, 77, 77);
}

.ul-list-container {
  /* height: 10vh; */
  /* padding: 20px; */
  margin-top: 15px;
  display: flex;
  justify-content: left;
  margin-left: 30px;
  /* margin-left: 20px */
  overflow-y: auto;
  overflow-x: hidden;
}

.ul-list-container::-webkit-scrollbar {
  width: 10px;
  background-color: #b0cfe6;
  border: 1px solid rgba(53, 113, 163, 0.6);
  border-radius: 5px;
  padding-top: 2px;
}

.ul-list-container::-webkit-scrollbar-thumb {
  background-color: rgb(244, 145, 145);
  border-radius: 2px;
}

/* .ul-list-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
} */

.ul-list {
  padding: 0;
  max-width: 300px;
  height: 500px;

}

.dream-title {
  background-color: #c2d9ec;
  /* color: whi; */
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
}

.dream-date {
  background-color: rgba(244, 145, 145, 0.3);
  border-radius: 3px;
}

.list-div {
  height: 45px;
  margin-top: 5px;
  /* overflow-y: auto; */
}

.dream-description {
  display: none;
}

/* .list-div::-webkit-scrollbar {
  width: 8px;
  background-color: #b0cfe6;
  border-radius: 3px;
}

.list-div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5a9ed6;
} */

.dream-title {
  max-height: 30px;
  margin-bottom: 0;
  height: 30px;
  color: #1b405e;
  font-size: 20px;
}

.dream-date {
  height: 15px;
  font-size: 10px;
  padding-left: 10px;
}

.dream-description {
  max-height: 30px;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  color: #894e4e;
}

.listRight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
}

.listButton-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-right: 20vw;
}

.listBack-to-home,
.listCatch-a-dream {
  width: 180px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.listCatch-a-dream {
  background: #366b9c;
  color: white;
  border: none;
  justify-content: center;
  margin-bottom: 5px;
}

.listCatch-a-dream:hover {
  color: #366b96;
  background: transparent;
  border: 1px solid #366b9c;
}

.listCatch-a-dream:active {
  box-shadow: none;
}

.listBack-to-home {
  background: transparent;
  color: #955c5c;
  border: 1px solid #955C5C;
}

.listBack-to-home:hover {
  background: #955C5C;
  color: white;
}

.listBack-to-home:active {
  box-shadow: none;
}

.list-div {
  cursor: pointer;
}
