
.landingPage-container {
  display: flex;
  justify-content: center;
}

.right-container-lp,
.left-container-lp {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-container-lp {
  background: none !important;
}

.dreamCatcherImg-container {
  height: 120px;
  margin-left: 20px;
  margin-top: 20px;
}

.dreamCatcherImg {
  width: 120px;
  height: 75px;
  padding: 0px;
  margin-left: 28px;
  margin-top: 20px;
}

.string-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.stringImg {
  margin-top: 20px;
  width: 300px;
  height: 100px;
  padding: 0;
}

.welcomeboard-container {
  display: center;
  justify-content: center;
}

.welcome-board {
  display: flex;
  width: 510px;
  height: 200px;
  transform: rotate(-2deg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFF;
  margin: auto;
}

.first-paragraph {
  transform: rotate(2.538deg);
  margin: auto;
  font-size: 3rem;
  opacity: 0.7;
}

.questionImg-container {
  margin: auto;
}

.question-image {
  width: 512px;
  height: 100px;
  padding-top: 40px;
}

/*-------------LEFT CONTAINER-----------------*/
.welcomeImgBoy-container {
  margin: auto;
}

.welcome-image-boy {
  display: flex;
  width: 450px;
  height: 500px;
  padding: 0;
}

.landingPage-button-container {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.landingPage-button {
  font-size: 15px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #366b9c;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.plus-sign {
  width: 30px;
  height: 18px;
  padding-left: 12px;
  margin-right: 10px;
  transition: transform 3s ease-in-out;
}

.landingPage-button:hover {
  transform: scale(1.1);
}

.landingPage-button:active {
  box-shadow: none;
}