* {
  font-family: 'Klee One';
}

.lp-logo-container {
  display: block;
  justify-content: baseline;
  padding: 20px;
}

.dreamCatcherImg {
  margin: auto;
  width: 120px;
  height: 75px;
}

.landingPage-container {
  display: flex;
  width: 100%;
}


.right-container-landingPage,
.left-container-landingPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.left-container-landingPage {
  flex: 3;
}

.right-container-landingPage {
  flex: 1;
}

.welcomeboard-container {
  display: center;
  justify-content: center;
  height: 350px;
}

.welcome-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 230px;
  /* height: 200px; */
  transform: rotate(-1.7deg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFF;
  border-radius: 5px;
  /* margin: auto; */
}

.first-paragraph {
  transform: rotate(2.538deg);
  margin: auto;
  font-size: 60px;
  opacity: 0.66;
  color: rgb(195, 79, 79);
}

.question-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 78%;
  padding: 40px;
}

/*-------------LEFT CONTAINER-----------------*/
.welcomeImgBoy-container {
  display: flex;
}

.welcome-image-boy {
  width: 450px;
  height: 60vh;
}

.landingPage-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.landingPage-button {
  padding: 10px;
  font-size: 15px;
  display: flex ;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #366b9c;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.plus-sign {
  width: 20px;
  height: 18px;
}

.landingPage-button:hover {
  transform: scale(1.1);
}

.landingPage-button:active {
  box-shadow: none;
}